In [1]:
# To bring in the libraries
import pandas as pd
import numpy as np

In [2]:
# To bring in the dataset
df = pd.read_csv(r"C:\Users\user\Desktop\Telco_Customer_Churn.csv")

In [3]:
df.head(6)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
5,9305-CDSKC,Female,0,No,No,8,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,99.65,820.5,Yes

In [4]:
df.shape

(7043, 21)

In [5]:
# To cheeck genral info:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [6]:
# To check for missing values
df.isnull().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [7]:
# To check for duplicates 
df.duplicated().sum()

0

In [8]:
# To remove custimer ID as is not relevant
df.drop('customerID', axis =1, inplace = True)

In [9]:
# To seperate the input and target variables
x = df.drop('Churn', axis = 1)
y = df[['Churn']]

In [10]:
# To confirm the operation(split)
x.head(2)

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
0,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85
1,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5

In [11]:
# To confirm the operation(split)
y.head(2)

  Churn
0    No
1    No

In [12]:
# To encode
x = pd.get_dummies(x,dtype = int)

In [13]:
# To confirm operation
x

,SeniorCitizen,tenure,MonthlyCharges,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,PhoneService_No,...,TotalCharges_995.35,TotalCharges_996.45,TotalCharges_996.85,TotalCharges_996.95,TotalCharges_997.65,TotalCharges_997.75,TotalCharges_998.1,TotalCharges_999.45,TotalCharges_999.8,TotalCharges_999.9
0,0,1,29.85,1,0,0,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
1,0,34,56.95,0,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,2,53.85,0,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,45,42.30,0,1,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
4,0,2,70.70,1,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,0,24,84.80,0,1,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
7039,0,72,103.20,1,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
7040,0,11,29.60,1,0,0,1,0,1,1,...,0,0,0,0,0,0,0,0,0,0
7041,1,4,74.40,0,1,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
7042,0,66,105.65,0,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
# Normalization otherwise known as scaling is done on x
# Bring in the library
from sklearn.preprocessing import StandardScaler

In [15]:
scaler = StandardScaler()
scaled_features = [feature for feature in x.columns]
scaled_data = scaler.fit_transform(x)
x = pd.DataFrame(data = scaled_data, columns = scaled_features)
x

,SeniorCitizen,tenure,MonthlyCharges,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,PhoneService_No,...,TotalCharges_995.35,TotalCharges_996.45,TotalCharges_996.85,TotalCharges_996.95,TotalCharges_997.65,TotalCharges_997.75,TotalCharges_998.1,TotalCharges_999.45,TotalCharges_999.8,TotalCharges_999.9
0,-0.439916,-1.277445,-1.160323,1.009559,-1.009559,-1.034530,1.034530,0.654012,-0.654012,3.054010,...,-0.011917,-0.011917,-0.011917,-0.011917,-0.011917,-0.011917,-0.011917,-0.011917,-0.011917,-0.011917
1,-0.439916,0.066327,-0.259629,-0.990532,0.990532,0.966622,-0.966622,0.654012,-0.654012,-0.327438,...,-0.011917,-0.011917,-0.011917,-0.011917,-0.011917,-0.011917,-0.011917,-0.011917,-0.011917,-0.011917
2,-0.439916,-1.236724,-0.362660,-0.990532,0.990532,0.966622,-0.966622,0.654012,-0.654012,-0.327438,...,-0.011917,-0.011917,-0.011917,-0.011917,-0.011917,-0.011917,-0.011917,-0.011917,-0.011917,-0.011917
3,-0.439916,0.514251,-0.746535,-0.990532,0.990532,0.966622,-0.966622,0.654012,-0.654012,3.054010,...,-0.011917,-0.011917,-0.011917,-0.011917,-0.011917,-0.011917,-0.011917,-0.011917,-0.011917,-0.011917
4,-0.439916,-1.236724,0.197365,1.009559,-1.009559,0.966622,-0.966622,0.654012,-0.654012,-0.327438,...,-0.011917,-0.011917,-0.011917,-0.011917,-0.011917,-0.011917,-0.011917,-0.011917,-0.011917,-0.011917
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,-0.439916,-0.340876,0.665992,-0.990532,0.990532,-1.034530,1.034530,-1.529024,1.529024,-0.327438,...,-0.011917,-0.011917,-0.011917,-0.011917,-0.011917,-0.011917,-0.011917,-0.011917,-0.011917,-0.011917
7039,-0.439916,1.613701,1.277533,1.009559,-1.009559,-1.034530,1.034530,-1.529024,1.529024,-0.327438,...,-0.011917,-0.011917,-0.011917,-0.011917,-0.011917,-0.011917,-0.011917,-0.011917,-0.011917,-0.011917
7040,-0.439916,-0.870241,-1.168632,1.009559,-1.009559,-1.034530,1.034530,-1.529024,1.529024,3.054010,...,-0.011917,-0.011917,-0.011917,-0.011917,-0.011917,-0.011917,-0.011917,-0.011917,-0.011917,-0.011917
7041,2.273159,-1.155283,0.320338,-0.990532,0.990532,-1.034530,1.034530,0.654012,-0.654012,-0.327438,...,-0.011917,-0.011917,-0.011917,-0.011917,-0.011917,-0.011917,-0.011917,-0.011917,-0.011917,-0.011917
7042,-0.439916,1.369379,1.358961,-0.990532,0.990532,0.966622,-0.966622,0.654012,-0.654012,-0.327438,...,-0.011917,-0.011917,-0.011917,-0.011917,-0.011917,-0.011917,-0.011917,-0.011917,-0.011917,-0.011917